:root {
  --animation: running;
  --draw: draw 1s;
}
.tableFormat{
  text-align: center;
}

.rowFormat{
  height: 170px;
}

.colFormat{
  height: 150px;
  width: 150px;
  outline: solid 10px;
  padding: 0px;
  margin:0px;
  table-layout: fixed;
  position: absolute;
}

.tableScore{
  text-align: center;
}

.rowScore{
  height: 170px;
}

.colScore{
  height: 150px;
  width: 350px;
  outline: solid 10px;
  padding: 0px;
  margin:0px;
  table-layout: fixed;
  position: absolute;
}

.tableHand{
  text-align: center;
}

.rowHand{
  height: 170px;
}

.colHand{
  height: 150px;
  width: 350px;
  outline: solid 10px;
  padding: 0px;
  margin:0px;
  table-layout: fixed;
  position: absolute;
}

.cardHand{
  position: absolute;
  height: 150px;
  width: 150px;
  top:0; 

}

.cardHand:hover {
  top: -100px;
  height: 200px;
  width: 200px;
  z-index: 10;
}

.cardBoard{
  position:absolute;
  height:150px;
  width:150px;
  left: 0px;
  top: 0px;
}

.deckText{
  position:absolute;
  left: 210px;
  top: 50px;
  font-size: 30px;
  text-shadow: 2px 2px 25px  #000, -2px -2px 25px  #000, 2px -2px 25px  #000, -2px 2px 25px  #000;
}

.redrawCard{
  animation: var(--draw);
  animation-play-state: var(--animation);

}

.drawnCard{
  animation: drawn 1s ;
  animation-play-state: var(--animation);
}

/* Buddy Animations setup !*/
@keyframes draw { 
  0%, 
  1% {opacity: 1;
    transform: rotateY(0deg);
      
  } 

  60%{opacity: 1;
    transform: rotateY(0deg);

  }

  99%{
    left:-250px;
    transform: rotateY(90deg);


  }

  100%{opacity: 0;
    transform: rotateY(0deg);

  }


}

@keyframes drawn { 
  0%, 
  1% {opacity: 0;
    
      
  } 

  60%{

  }

  80%{opacity: 0;


  }

  100%{opacity: 1;

  }


}