body{
  font-family:'Perpetua Titling MT', sans-serif;
  font-style: italic;                                                
  background-color: #462f4a;
}

/* Setting the top navBar to being fixed at all times */
.navBarHeader{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
}

.headerSpacer {
  margin: 20px;
}

h1, h2, h3 {
  text-align: center;
  margin: 20px;
}

h4 {
  margin: 20px;
}

h5{
  color: rgb(219 180 65);
  text-shadow: 2px 2px 25px  #000, -2px -2px 25px  #000, 2px -2px 25px  #000, -2px 2px 25px  #000;
}

.caroP {
  color: rgb(219 180 65);
  text-shadow: 2px 2px 25px  #000, -2px -2px 25px  #000, 2px -2px 25px  #000, -2px 2px 25px  #000;
}

.phaseCards{
  width: 75%;
  text-align: center;
}

.cardBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}