body{
  font-family:'Perpetua Titling MT', sans-serif;
  font-style: italic;
  
                                                
  background-color: #462f4a;
}

.navBarHeader{
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
}